{% extends "base.html" %} {% block main_class %}page--wide calculator-page{%
endblock %} {% block content %}
<section class="calculator">
  <!-- FILA SUPERIOR -->
  <div class="calculator-top">
    <!-- IZQUIERDA -->
    <div class="left-stack">
      <aside class="panel panel--inputs">
        <h2 class="panel__title">Parámetros de entrada</h2>
        <div id="dynamic-form">
          {% if method_template %} {% include method_template %} {% endif %}
        </div>
      </aside>

      
    </div>

    <!-- DERECHA -->
    <section class="panel panel--graph">
      <div id="graph-container"></div>
    </section>
  </div>

  <!-- FILA INFERIOR -->
  <div class="calculator-bottom">
    <section class="panel panel--results">
      <h2 class="panel__title">Procedimientos</h2>
      <div id="procedure-output"></div>
    </section>

    <div class="panel panel--keyboard">
      {% include "partials/math_keyboard.html" %}
    </div>
  </div>
</section>
{% endblock %}
