<form
  method="POST"
  enctype="multipart/form-data"
  class="file-form"
  id="method-form"
>
  <label class="form-label">
    Sistema de ecuaciones:
    <span
      class="help-icon"
      data-tooltip="El archivo .CSV debe contener la matriz aumentada [A|b]. El número de variables del sistema debe coincidir con la cantidad de valores iniciales seleccionados."
      tabindex="0"
      >?</span
    >
  </label>

  <!-- Input real oculto -->
  <input type="file" id="file-input" name="matrix_file" accept=".csv" hidden />

  <!-- Botón visual personalizado -->
  <label for="file-input" class="file-upload-btn">
    Adjunta tu archivo .CSV
  </label>

  <span id="file-name" class="file-name"></span>

  <label class="form-label"> Número de valores iniciales: </label>
  <select id="num-equations" name="num_eq" required>
    <option value="">Selecciona</option>

    <option value="2">2 variables (x, y)</option>
    <option value="3">3 variables (x, y, z)</option>
  </select>
  <div id="functions-container"></div>

  <div id="initial-values-container"></div>
  <label class="form-label">Tolerancia (ε):</label>
  <input
    type="number"
    step="any"
    name="tol"
    placeholder="ej. 0.0021"
    required
  />

  <label class="form-label">Iteraciones máximas:</label>
  <input type="number" name="max_iter" placeholder="ej. 4" required />
  <input type="hidden" name="method" value="jacobi" />

  <button type="submit" class="primary-btn">Iniciar</button>
</form>

<div class="method-card">
  <div class="method-card-header">
    <div class="method-card-icon">i</div>
    <h3>Jacobi</h3>
  </div>

  <p>
    Método iterativo que calcula cada componente de la solución usando
    únicamente <strong>valores de la iteración anterior</strong>. Su
    convergencia <strong>depende</strong> de las propiedades de la
    <strong>matriz del sistema</strong>.
  </p>
</div>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="file-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}
<script>
  document
    .getElementById("num-equations")
    .addEventListener("change", function () {
      const n = parseInt(this.value);

      const initContainer = document.getElementById("initial-values-container");

      //funcContainer.innerHTML = "";
      initContainer.innerHTML = "";

      if (!n) return;

      const variables = ["x", "y", "z"];

      for (let i = 0; i < n; i++) {
        // Funciones

        // Valores iniciales
        initContainer.innerHTML += `
            <label class="form-label">
                Valor inicial ${variables[i]}₀:
            </label>
            <input
                type="number"
                step="any"
                name="x0"
                placeholder="Ej: 1"
                required
            />
        `;
      }
    });
</script>
