

<form method="POST" enctype="multipart/form-data" class="file-form">
  <label class="form-label">
    Valores (x,y):
    <span class="help-icon">?</span>
  </label>

  <!-- Input real oculto -->
  <input type="file" id="file-input" name="matrix_file" accept=".csv" hidden />

  <!-- Botón visual personalizado -->
  <label for="file-input" class="file-upload-btn">
    Adjunta tu archivo .CSV
  </label>

  <span id="file-name" class="file-name"></span>

  <label class="form-label">Valor de interpolación:</label>
  <input
    type="number"
    name="interpolation_value"
    placeholder="ej. 4.3"
    required
  />

  <button type="submit" class="primary-btn">Iniciar</button>
</form>
<br />
<div class="method-card">
  <div class="method-card-header">  
    <div class="method-card-icon">i</div>
    <h3>Newton Diferencias Divididas</h3>
  </div>

  <p>
    Método de interpolación que utiliza diferencias divididas para construir el
    polinomio interpolante de forma incremental.  Permite añadir nuevos puntos
    sin recalcular todo el polinomio.
  </p>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="file-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}