<form
  method="POST"
  enctype="multipart/form-data"
  class="file-form"
  id="method-form"
>
  
  <label class="form-label">
    Número de ecuaciones:
    <span
      class="help-icon"
      data-tooltip="Selecciona cuántas ecuaciones tendrá el sistema. Si eliges 2, se generarán campos para x y y. Si eliges 3, se agregarán campos para x, y y z."
      tabindex="0"
      >?</span
    >
  </label>

  <select id="num-equations" name="num_eq" required>
    <option value="">Selecciona</option>

    <option value="2">2 variables (x, y)</option>
    <option value="3">3 variables (x, y, z)</option>
  </select>

  <div id="functions-container"></div>

  <div id="initial-values-container"></div>

  <label class="form-label">Tolerancia (ε):</label>
  <input
    type="number"
    step="any"
    name="tol"
    placeholder="ej. 0.0001"
    required
  />

  <label class="form-label">Iteraciones máximas:</label>
  <input type="number" name="max_iter" placeholder="ej. 20" required />
  <input type="hidden" name="method" value="punto-fijo-sistema" />

  <button type="submit" class="primary-btn">Iniciar</button>
  
</form>
<br />
<div class="method-card">
  <div class="method-card-header">
    <div class="method-card-icon">i</div>
    <h3>Punto Fijo</h3>
  </div>

  <p>
    Método iterativo que transforma el sistema original en una forma equivalente
    para aproximar la solución. La <strong>convergencia</strong> depende de la
    <strong>elección</strong> de la <strong>función iterativa</strong> y del
    <strong>valor inicial</strong>.
  </p>
</div>
<script>
  document
    .getElementById("num-equations")
    .addEventListener("change", function () {
      const n = parseInt(this.value);
      const funcContainer = document.getElementById("functions-container");
      const initContainer = document.getElementById("initial-values-container");

      funcContainer.innerHTML = "";
      initContainer.innerHTML = "";

      if (!n) return;

      const variables = ["X", "Y", "Z"];

      if (n === 2) {
        for (let i = 0; i < n; i++) {
          // Funciones
          funcContainer.innerHTML += `
            <label class="form-label">
                f${i + 1}(${variables.slice(0, n).join(", ")}) :
            </label>
            <input
                type="text"
                name="functions"
                placeholder="Ej: x**2 + y - 4"
                required
            />
            <label class="form-label">
            ${variables[0]}${i + 1} or ${variables[1]}${i + 1} or ${variables[2]}${i + 1}:
            </label>
            <input type="text" name="variables" placeholder="Ej: x**2 + y - 4" required/> 
        `;

          // Valores iniciales
          initContainer.innerHTML += `
            <label class="form-label">
                Valor inicial ${variables[i]}₀:
            </label>
            <input
                type="number"
                step="any"
                name="x0"
                placeholder="Ej: 3.2"
                required
            />
        `;
        }
      }

      if (n === 3) {
        for (let i = 0; i < n; i++) {
          // Funciones
          funcContainer.innerHTML += `
            
            <label class="form-label">
            ${variables[0]}${i + 1} or ${variables[1]}${i + 1} or ${variables[2]}${i + 1}:
            </label>
            <input type="text" name="variables" placeholder="Ej: x**2 + y - 4" required/> 
        `;

          // Valores iniciales
          initContainer.innerHTML += `
            <label class="form-label">
                Valor inicial ${variables[i]}₀:
            </label>
            <input
                type="number"
                step="any"
                name="x0"
                placeholder="Ej: 3.2"
                required
            />
        `;
        }
      }
    });
</script>
