<form method="POST" id="method-form">
  <label>Función f(x):</label>
  <input type="text" name="fx" required />

  <label>Límite inferior a:</label>
  <input type="number" step="any" name="a" required />

  <label>Límite superior b:</label>
  <input type="number" step="any" name="b" required />

  <label>Número de subintervalos n:</label>
  <input type="number" name="n" required />
  <input type="hidden" name="method" value="simpson-3-8" />


  <button type="submit">Calcular</button>
</form>
<br />
<div class="method-card">
  <div class="method-card-header">
    <div class="method-card-icon">i</div>
    <h3>Simpson 3/8</h3>
  </div>

  <p>
    Variante del método de Simpson que utiliza <strong>polinomios de tercer grado</strong> para
    aproximar la integral. Requiere que el número de <strong>subintervalos sea múltiplo
    de tres.
  </p>
</div>
