<div class="math-keyboard">

  <div class="math-keyboard__group math-keyboard__group--vars">

    <button data-insert="x">x</button>
    <button data-insert="y">y</button>
    <button data-insert="pi">π</button>
    <button data-insert="log()">log</button>

    <button data-insert="**">**</button>
    <button data-insert="sqrt()">√</button>
    <button data-insert="e">e</button>
    <button data-insert="log()">ln</button>

    <button data-insert="sin()">sin</button>
    <button data-insert="cos()">cos</button>
    <button data-insert="tan()">tan</button>
    <button data-insert="cot()">ctg</button>

    <button data-insert="sec()">sec</button>
    <button data-insert="csc()">csc</button>
    <button data-insert="(">(</button>
    <button data-insert=")">)</button>

  </div>

  <div class="math-keyboard__group math-keyboard__group--nums">

    <button data-insert="7">7</button>
    <button data-insert="8">8</button>
    <button data-insert="9">9</button>
    <button data-insert="+">+</button>
    <button data-insert="-">−</button>

    <button data-insert="4">4</button>
    <button data-insert="5">5</button>
    <button data-insert="6">6</button>
    <button data-insert="*">×</button>
    <button data-insert="/">÷</button>

    <button data-insert="3">3</button>
    <button data-insert="2">2</button>
    <button data-insert="1">1</button>
    <button class="equal">=</button>
    <button class="enter">↵</button>

    <button data-insert="0">0</button>
    <button data-insert=".">.</button>
    <button class="back">⌫</button>
    <button class="clear">AC</button>

  </div>

</div>